{% extends 'base.html.twig' %}

{% block title %}Liste des Articles
{% endblock %}

{% block body %}
	<style></style>

	<h1>Articles</h1>
	{% if articles %}
		<table class="table text-center">

			<thead>
				<tr class="">
					<th>Article</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.designation }}</td>
						<td>{{ article.Description }}</td>
						<td>{{ article.prix }}
							dt</td>
						<td>
							<a href="/articles/{{article.id}}" class="btn btn-primary">Détails</a>
							<a href="/articles/delete/{{article.id}}" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Aucun Articles</p>
	{% endif %}
{% endblock %}
