{% extends 'base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>
			{{ controller_name }}
		</h1>
		{% form_theme form 'bootstrap_5_layout.html.twig' %}

		{{ form_start(form) }}
		<table>
			<tr>
				<td>{{ form_label(form.designation, "Designation") }}</td>

				<td>{{ form_errors(form.designation) }}</td>

				<td>{{ form_widget(form.designation) }}</td>

			</tr>
			<tr>
				<td>{{ form_label(form.Description, "Description") }}</td>

				<td>
					{{ form_errors(form.Description) }}
				</td>

				<td>{{ form_widget(form.Description) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(form.prix, "Le prix") }}</td>

				<td>{{ form_errors(form.prix) }}</td>

				<td>{{ form_widget(form.prix) }}</td>
			</tr>
			<tr>
				<td>
					{{ form_widget(form.Ajouter) }}
				</td>
			</tr>


			{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
	{% endblock %}
